<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('flasgger.apidocs') }}">API Docs</a></li>
      </ul>
    </nav>

    <div class="container">
      <h2>Manage Recipes</h2>
      <form id="recipe-form">
        <label>
          <span>ID (For PUT/PATCH):</span>
          <input id="recipe-id" type="text" placeholder="Enter ID for update" />
        </label>
        <label>
          <span>Name:</span>
          <input id="recipe-name" type="text" placeholder="Enter recipe name" required />
        </label>
        <label>
          <span>Image File:</span>
          <input id="recipe-image" type="file" accept="image/*" />
        </label>

        <label>
          <span>Ingredients (comma-separated):</span>
          <input id="recipe-ingredients" type="text" placeholder="Enter ingredients" required />
        </label>
        <label>
          <span>Instructions:</span>
          <textarea id="recipe-instructions" placeholder="Enter instructions" required></textarea>
        </label>
        <label>
          <span>Location:</span>
          <input id="recipe-location" type="text" placeholder="Enter location" required />
        </label>
        <div class="button-group">
          <button type="button" onclick="createRecipe()">POST</button>
          <button type="button" onclick="updateRecipe()">PUT</button>
          <button type="button" onclick="patchRecipe()">PATCH</button>
        </div>
      </form>
    </div>
    <div class="container">
      <div class="search-bar">
        <input id="search-id" type="text" placeholder="Search by ID" />
        <button onclick="searchById()">Search</button>
        <input id="search-name" type="text" placeholder="Search by Name" />
        <button onclick="searchByName()">Search</button>
      </div>
      <div id="recipes-container" class="grid">
        <!-- Recipes will be displayed here -->
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
